<head>


<link rel="icon" 
     type="image/png" 
     href="http://s2.postimg.org/vovcaltet/1432013087_music.png">

</head>

<script type="text/javascript">
 function initialize() {
   var mapOptions = {
     center: { lat: <%= @latitude %>, lng: <%= @longitude %>},
     zoom: 14
   };
   var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    <% collection.each_with_index do |object, i| %>
      var marker<%= i %> = new google.maps.Marker({
        position: new google.maps.LatLng(<%= object[:latitude] %>, <%= object[:longitude] %>),
        map: map,
        title: '<%= object[:name] %>'
      });
      var infowindow<%= i %> = new google.maps.InfoWindow({
        content: '<h1><a href="<%= object[:website] %>"target="_blank"><%= object[:name] %></a></h1><h2><%= object[:street] %></h2><h3><%= object[:artist] %></h3><h4><a href="<%= object[:link] %>"target="_blank">More Info</a></h4>'
      });
      google.maps.event.addListener(marker<%= i %>, 'click', function() {
        infowindow<%= i %>.open(map,marker<%= i %>);
      });
    <% end %>
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
 
<div id="map-canvas"></div>